body{
    padding: 10p;
    background-color: #a5a58d;
    font-size: 125%;
}

h1{
    font-family: helvetica, arial, sans-serif;
    font-size: 48pt;
    text-align: center;
}

h2{
    font-family: helvetica, arial, sans-serif;
    font-size: 24pt;
}

h3{
    font-family: helvetica, arial, sans-serif;
    }

p{
    font-family: helvetica, arial, sans-serif;
    font-size: medium;
    padding: 20px;
}

img{
    padding: 10px;
    width: 45%;
    margin: auto;
    border: dotted #af78d6 10px;
}

li{
    display: inline-block;
    margin: 5px;
    padding-right: 20px;
}

.active {
    border: solid lavender 5px;
}

ul{
    list-style-type: disc;
}

.skip{
    position: absolute;
}

.skip:focus{
    
}
div{
    margin: auto;
}